*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

.container{
    width: 720px;
    margin: 0 auto;
    position: relative;
}

header{
    background-color: #bdbdbd;
    padding-top: 40px;
    background: url(img/header-background.png) 50% 75% no-repeat;
    background-size: cover;
   
}
.section-title{
    padding: 0;
    margin: 0;
}

.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-top: -10px;
}

.logo a{
    color: white; 
    list-style: none;
    font-size: 30px;
    font-weight: 800; 
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.menu{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;    
}

.menu li{
    margin-right: 40px;
}

.menu li:last-child{
    margin-right: 0;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu a:hover{
    color: #ffe26d;
}

.header-title{
    display: flex;
    flex-direction: column;
    color: white;
}

.header-title h2,.header-title p{
    margin: 0;
    padding: 0;
}

.header-title h2{
    padding: 2px;
    margin-top: 120px;
    font-size: 41px;
    font-weight: 800;
    line-height: auto;
}

.header-title p{
    padding: 2px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 100;
}

.header-title-buttons{
    margin-top: 40px;
    margin-bottom: 230px;
    display: flex;
    flex-direction: row;
}

.button{
    display: inline-block;
    padding: 17px 27px;
    background-color:#62497c;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

.button:hover{
    background-color:#ffe26d;
    color: black;
    box-shadow: 0 0 2px 0 #ffe26d;
}
.gap5{
    margin-right: 5px;
}



.section-title{
    padding: 0;
    margin: 0;
    margin-top: 45px;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}


.welcome-description{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
}

.welcome-description p{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 100;
}
.welcome-umbrella{
    margin-left:70px;
}

.welcome-items{
    width: 100%;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


.welcome-item{
    width: 163px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

hr{
    margin-top: 58px;
    height: 2px;
    background-color:#e7e7e7;
    outline: none;
    border:none;
}


.welcome-item-title{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color:#62497c;
    text-align: center;
}

.welcome-item-description{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color:#a1a1a1;
}


.project-items{
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.project-item{
    flex-basis: 350px;
    background-color:#efefef;
    overflow: hidden;
    
}

.project-item img{
    transition: 0.4s;
}


.project-item:hover{
    background-color:#ffe26d;
}
.project-item:hover img{
    transform: scale(1.1);
}

.project-title{
    margin: 45px 45px 0 45px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.project-description{
    margin: 15px 45px 0 45px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;

}

.button-project{
    margin: 15px auto 46px 45px;
    background-color:white;
    color: black;
}

.button-project:hover{
    background-color:#62497c;
    color: white;
}

.prices{
    padding-bottom: 90px;
}

.price-items{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.price-item{
    position: relative;
}


.price-item::before{
    content:"";
    position: absolute;
    top: 0;
    right: -70px;
    display: block;
    height: 100%;
    width: 2px;
    background-color:#e7e7e7;

    
}

.price-item:last-child::before{
    display: none;
}




.price-item ul,.price-item li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.price-item-title{
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.price{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#9d9d9d;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;

}

.price-item ul>li{
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: 500;
    
}

.price-item ul{
    margin-bottom: 22px;
}

.button-price{
    margin-left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}


.white{
    color: white;
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(img/Newsletter_background.png) no-repeat 50% 50%;
    background-size: cover;
    padding-bottom: 70px;
    
}

.input{
    width: 550px;
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.input .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input input{
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    color:#d8d8d8;
    padding: 13px;
    width: 413px;
}

.input-button{
    margin-left: -5px;
    border-radius: 0 4px 4px 0;

}

.row2 {
    margin-top: 10px;
}

.row2 .button{
    margin-left: 30px;
}







