*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

.container{
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.swiper-container{
    width: 100%;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #ffffff;
}

header{
    padding-top: 10px;
    background-color: #bdbdbd;
    background: url(img/header-background.png) 50% 75% no-repeat;
    background-size: cover;
   
}
.section-title{
    padding: 0;
    margin: 0;
}

.header-top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo{
    margin-top: -10px;
}

.logo a{
    color: white; 
    list-style: none;
    font-size: 30px;
    font-weight: 800; 
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.menu{
    padding: 0;
    margin: 0;
    display:none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;    
}

.menu li{
    margin-right: 40px;
}

.menu li:last-child{
    margin-right: 0;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu a:hover{
    color: #ffe26d;
}

.header-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
}

.header-title h2,.header-title p{
    margin: 0;
    padding: 0;
}

.header-title h2{
    padding: 2px;
    margin-top: 30px;
    font-size: 32px;
    font-weight: 800;
    line-height: auto;
}

.header-title p{
    padding: 2px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 100;
}

.header-title-buttons{
    margin-top: 40px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.button{
    display: inline-block;
    padding: 17px 27px;
    background-color:#62497c;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

.button:hover{
    background-color:#ffe26d;
    color: black;
    -webkit-box-shadow: 0 0 2px 0 #ffe26d;
            box-shadow: 0 0 2px 0 #ffe26d;
}
.gap5{
    margin-right: 5px;
}



.section-title{
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}


.welcome-description{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
}

.welcome-description p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 100;
}
.welcome-umbrella{
    display:none;
    margin-left:70px;
}

.welcome-items{
    width: 100%;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}


.welcome-item{
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

hr{
    margin-top: 58px;
    height: 2px;
    background-color:#e7e7e7;
    outline: none;
    border:none;
}


.welcome-item-title{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color:#62497c;
    text-align: center;

    
}

.welcome-item-description{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color:#a1a1a1;
}


.project-items{
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:#efefef;
}


.project-item{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    
}

.project-item img{
    -webkit-transition: 0.4s;
    transition: 0.4s;
}


.project-item:hover{
    background-color:#ffe26d;
}
.project-item:hover img{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.project-title{
    margin: 45px 45px 0 25px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.project-description{
    margin: 15px 45px 0 25px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;

}

.project-button{
    margin: 15px auto 30px 25px;
    background-color:white;
    color: black;
}

.project-button:hover{
    background-color:#62497c;
    color: white;
}

.prices{
    padding-bottom: 90px;
}

.price-items{
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.price-item{
    position: relative;
}


.price-item::before{
    content:"";
    position: absolute;
    top: 0;
    right: -70px;
    display: block;
    height: 100%;
    width: 2px;
    background-color:#e7e7e7;

    
}

.price-item:last-child::before{
    display: none;
}


.price-item ul,.price-item li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.price-item-title{
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.price{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#9d9d9d;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;

}

.price-item ul>li{
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: 500;
    
}

.price-item ul{
    margin-bottom: 22px;
}

.button-price{
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}


.white{
    color: white;
}

.ourTeam{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.zippyTeam{
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.team-item{
    
    -ms-flex-preferred-size: 178px;
    
        flex-basis: 178px;
    margin: 5px;
    margin-bottom: 65px;
}

.team-item-image{
    width:174px;
    height: 174px;
    position: relative;
}

.member-name{
    padding: 0;
    margin: 0;
    margin-top: 28px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.member-role{
    margin: 0;
    padding: 0;
    margin-top: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    color:#d1d1d1;
}

.team-item-hover{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    padding: 0 20px 0 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(98, 73, 124, 0.5);
    border-radius: 50%;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.team-item-hover a{
    text-decoration: none;
    color: white;
}

.team-item-image:hover .team-item-hover{
    -webkit-transform: scale(1);
            transform: scale(1);
}

.team-item-hover a:hover{
    color: yellow;
}


.newsletter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex ;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(img/Newsletter_background.png) no-repeat 50% 50%;
    background-size: cover;
    padding-bottom: 70px;
    
}

.input{
    width: 550px;
    margin-top: 40px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.input .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.input input{
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    color:#d8d8d8;
    padding: 13px;
    width: 413px;
}

.input-button{
    margin-left: -5px;
    border-radius: 0 4px 4px 0;

}

.row2 {
    margin-top: 10px;
}

.row2 .button{
    margin-left: 30px;
}


@media (min-width : 620px ){


}

@media (min-width : 1020px){
    .container{
        width: 720px;
        margin: 0 auto;
        position: relative;
    }

    .menu{
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        list-style: none;    
    }

    header{
        padding-top: 40px;
    }

    .header-title h2{
        padding: 2px;
        margin-top: 120px;
        font-size: 41px;
        font-weight: 800;
        line-height: auto;
    }

    .header-title-buttons{
        margin-top: 40px;
        margin-bottom: 230px;
       
    }

    .welcome-umbrella{

        margin-left:70px;
    }

    .section-title{
        padding: 0;
        margin: 0;
        margin-top: 45px;
        font-size: 44px;
        font-weight: bold;
        text-align: center;
    }

    .welcome-description{
        margin-top: 55px;
    }
    
    .welcome-description p{
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 100;
    }

    .welcome-items{
        width: 100%;
        margin-top: 65px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .welcome-item{
        width: 163px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: stretch;
            -ms-flex-pack: stretch;
                justify-content: stretch;
    }
    .welcome-item-description{
        font-size: 14px;
    }

    .project-items{
        margin-top: 38px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .project-item{
        -ms-flex-preferred-size: 320px;
            flex-basis: 320px;
        background-color:#efefef;
        overflow: hidden;
        
    }

    .project-title{
        margin: 45px 45px 0 45px;
    }
    
    .project-description{
        margin: 15px 45px 0 45px;
    }
    
    .project-button{
        margin: 15px auto 46px 45px;
    }

    
}



